@import './utils/variables';
@import './utils/modern-normalize-css';
@import './utils/placeholders';
@import './components/1-header/page-header';
@import './components/2-hero/hero';
@import './components/3-features/features';
@import './components/4-work/work';
@import './components/5-team/team';
@import './components/6-clients/clients';
@import './components/7-footer/page-footer';
@import './components/8-modal/modal';
@import './components/portfolio/portfolio';
