.hero {
  padding-top: 0;

  &__container {
    text-align: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 767px) {
      max-width: 767px;
      height: 400px;

      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../images/fonpic-mob.jpg');
      background-size: 480px 400px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: linear-gradient(
              to right,
              rgba(47, 48, 58, 0.8),
              rgba(47, 48, 58, 0.8)
            ),
            url('../images/fonpic-mob@2x.jpg');
        }
      }
    }

    @media screen and (min-width: 768px) {
      max-width: 1199px;
      height: 400px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../images/fonpic-tab.jpg');
      background-size: 768px 400px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: linear-gradient(
              to right,
              rgba(47, 48, 58, 0.8),
              rgba(47, 48, 58, 0.8)
            ),
            url('../images/fonpic-tab@2x.jpg');
        }
      }
    }

    @media screen and (min-width: 1200px) {
      max-width: 1600px;
      height: 600px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../images/fonpic.jpg');
      background-size: 1600px 600px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: linear-gradient(
              to right,
              rgba(47, 48, 58, 0.8),
              rgba(47, 48, 58, 0.8)
            ),
            url('../images/fonpic@2x.jpg');
        }
      }
    }
  }

  &__title {
    @extend %hero-font;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1199px) {
      padding-top: 118px;
      font-size: 26px;
      line-height: 1.62;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

@import '../../styles/button-blue';

.hero__button,
.modal__send-btn {
  @include button-blue(10px 32px);
}
