.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 0;
  @extend %flex-just-align;

  @media screen and (max-width: 767px) {
    max-width: 640px;
    height: 400px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/fonpic-mob.jpg');
  }

  @media screen and (min-width: 768px) {
    max-width: 1024px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/fonpic-tab.jpg');
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/fonpic.jpg');
  }

  &__container {
    text-align: center;
  }
  &__title {
    @extend %hero-font;

    font-size: 26px;
    line-height: 1.62;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

@import '../../styles/button-blue';

.hero__button,
.modal__send-btn {
  @include button-blue(10px 32px);
}
