@import '../../styles/button-blue';

.hero {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/fonpic-opti.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1600px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    text-align: center;
  }
  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: $primary-white-color;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    max-width: 700px;
  }
}

.hero__button,
.modal__send-btn {
  @include button-blue(10px 32px);
}
