.team {
  margin-top: 94px;
  padding-bottom: 94px;
  background-color: $secondary-bg-color;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
  }

  &__title {
    @extend %section-title;
    margin-top: 0;
    @media screen and (max-width: 1199px) {
      font-size: 28px;
      line-height: 1.18;
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      margin: -15px;
    }
  }

  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;

      margin-top: 0;
      margin-bottom: 0;
    }

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;

    @media screen and (max-width: 767px) {
      height: 320px;
    }

    @media screen and (min-width: 768px) {
      height: 260px;
    }
  }

  &__subtitle {
    font-weight: $fw-500;
    color: $title-text-color;
    margin-top: 30px;
  }

  &__text {
    font-weight: $fw-400;
    color: $primary-text-color;
    margin-top: 10px;
  }

  &__subtitle,
  &__text {
    font-size: $fs-16;
    line-height: $lh-119;

    margin-bottom: 0;
    text-align: center;
  }
}
@import '../soc-links';
