.hero,
.features,
.work,
.team,
.clients,
.footer {
  @media screen and (max-width: 767px) {
    width: 480px;
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__container,
.features__container,
.work__container,
.team__container,
.clients__container,
.footer__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
