.logo {
  color: $accent-color;
  font-family: $font-portfolio;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  @include transition(color);

  &:focus {
    border: $fbr-2 solid $accent-color;
    border-radius: $br-4;
    outline: none;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
