.filter {
  padding-bottom: 0px;

  &__list {
    padding-left: 0px;
    margin-bottom: 0px;
    margin: -15px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    text-align: left;

    @media screen and (max-width: 767px) {
      width: calc(100% - 30px);
      margin: 15px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
  }

  &__img-container {
    position: relative;
    content: '';
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__block {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: transparent;
  }

  &__sub-img {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: $primary-white-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .filter__link:hover,
    .filter__link:focus & {
      transform: translateY(-100%);
    }
  }

  &__sub-text {
    margin: 63px 24px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }

  .section-title-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
    margin-top: 0;
    margin-bottom: 4px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .section-text-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: $primary-text-color;
    margin: 0;
  }
}
