.visually-hidden {
  @extend %visually-hidden;
}

.filter {
  padding-bottom: 94px;

  &__container {
    @media screen and (min-width: 480px) {
      width: 480px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      text-align: center;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
      text-align: center;
      justify-content: center;
    }
  }

  .filter-btns {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
      justify-content: left;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &__btn {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;

    margin-right: 8px;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;

    transition: background-color $cubic, color $cubic;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primary-white-color;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    }
  }
}

@import './filter-cards';
