.features {
  @extend %section-padding;

  .visually-hidden {
    @extend %visually-hidden;
  }

  &__container {
    @extend %container-padding;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__item {
    margin: 0px;
    width: calc((100% - 3 * 30px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .features-box {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-bg-color;
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $primary-text-color;

    margin: 0px;
  }
}
