.features {
  .visually-hidden {
    @extend %visually-hidden;
  }
  margin-left: auto;
  margin-right: auto;

  &__list {
    @media screen and (min-width: 1200px) {
      padding: 0;
      margin: -15px;
    }
    @extend %flex-just-align;
  }

  &__item {
    @media screen and (min-width: 1200px) {
      margin: 0px;
      width: calc((100% - 3 * 30px) / 4);
      margin: 15px;
    }
  }

  .features-box {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-bg-color;
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $primary-text-color;

    margin: 0px;
  }
}
