.backdrop {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  visibility: visible;
  transition: opacity $cubic;

  @media screen and (max-width: 1199px) {
    overflow-y: scroll;
  }

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    .modal {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
}
