.header-address {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;

  display: inline-flex;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__link {
    color: $primary-text-color;
    font-style: normal;
    display: flex;
    align-items: center;

    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &:focus {
      border: 2px solid $accent-color;
      border-radius: 4px;
      outline: none;
    }

    &--mail {
      margin-right: 30px;
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    .address-icon {
      fill: $primary-text-color;
      margin-right: 10px;
      @include transition(fill);

      .header-address__link:hover &,
      .header-address__link:focus & {
        fill: $accent-color;
      }
    }
  }
}
