.header-address {
  display: inline-flex;
  align-items: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
  }

  &__link {
    color: $primary-text-color;
    font-style: normal;
    display: flex;
    align-items: center;

    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &:focus {
      border: 2px solid $accent-color;
      border-radius: 4px;
      outline: none;
    }

    &--mail {
      margin-right: 30px;

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 0;
      }
    }

    .address-icon {
      fill: $primary-text-color;
      margin-right: 10px;
      @include transition(fill);

      .header-address__link:hover &,
      .header-address__link:focus & {
        fill: $accent-color;
      }
    }
  }
}
