.header-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @extend %nav-font;
  margin-left: 85px;
  &__list {
    width: 294px;
    display: flex;
    justify-content: space-between;

    padding-left: 0px;
    margin: 0;
  }

  &__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__link {
    position: relative;
    color: $title-text-color;
    transition: color $cubic;
    padding-bottom: 32px;

    &:hover,
    &:focus,
    &--active {
      color: $accent-color;
    }

    &:focus {
      border: 2px solid $accent-color;
      border-radius: 4px;
      outline: none;
    }

    &--active::before {
      content: '';
      position: absolute;
      bottom: 0;

      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}
