.nav-btn {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 10px;
  margin-left: auto;
  background-color: transparent;
  border: none;

  padding: 0;
  border: none;
  &__icon {
    fill: #000000;
    padding: 0;
    border: none;

    &:hover,
    &:focus {
      fill: $accent_color;
    }
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.nav-btn .nav-btn__open {
  display: block;
}

.nav-btn.is-open .nav-btn__open {
  display: none;
}

.nav-btn .nav-btn__close {
  display: none;
}

.nav-btn.is-open .nav-btn__close {
  display: block;
}
