.nav-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  padding: 0;
  border: none;
  &__icon {
    fill: #000000;
    padding: 0;
    border: none;

    &:hover,
    &:focus {
      fill: $accent_color;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
