.nav-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: transparent;

  padding: 0;
  border: none;
  &__icon {
    fill: #000000;
    padding: 0;
    border: none;
    padding: 11px 8px;
  }
  &__close {
    padding-left: 3px;
  }
}
