.header-nav {
  @extend %nav-font;

  &__list {
    @media screen and (max-width: 767px) {
      text-align: center;
      font-size: 18px;
      line-height: 1.17;
      padding-left: 0px;
      margin: 0;
    }

    @media screen and (min-width: 768px) {
      width: 294px;
      display: flex;
      justify-content: space-between;

      padding-left: 0px;
      margin: 0;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      padding-top: 40px;
      padding-bottom: 12px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 31px;
      padding-bottom: 31px;
    }
  }

  &__link {
    color: $title-text-color;
    transition: color $cubic;
    z-index: 2;
    @media screen and (max-width: 767px) {
      padding-top: 40px;
      padding-bottom: 12px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 31px;
      padding-bottom: 30px;
    }

    &--active {
      position: relative;
      z-index: 3;
    }

    &:hover,
    &--active {
      color: $accent-color;
    }

    &:focus {
      border: 2px solid $accent-color;
      border-radius: 4px;
      outline: none;
    }
  }

  &__link--active:: ore {
    content: '';
    position: absolute;

    z-index: 8;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;

    @media screen and (max-width: 767px) {
      top: calc(100% - 4px);
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (min-width: 768px) {
      transform: translateY(-50%);
      top: 100%;
    }
    @media screen and (min-width: 1200px) {
      transform: translateY(-100%);
    }
  }
}
