.nav-menu {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(1px);

    font-size: 18px;
    line-height: 1.17;

    width: 100%;
    min-height: 390px;
    display: none;
    background-color: $primary-white-color;

    padding-top: 20px;
    padding-bottom: 0;

    &.is-open {
      display: block;
      z-index: 1;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 85px;
  }
}
