.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-top: 0;

  &__container {
    @import '../logo';

    .logo__studio {
      color: #000000;
    }

    @extend %flex-align;
    @import './nav-menu';
    @import './nav';
    @import './address-header';
    @import './nav-btn';
  }
}
