// .header {
//   &__container {
//     @media screen and (min-width: 1200px) {
//       width: 1200px;
//     }
//     @extend %container-padding;
//     @extend %header-font;
//     .logo__studio {
//       color: #000000;
//     }
//   }
// }

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 0;
}

.header__container,
.footer__container {
  @import '../logo';
}

.header__container {
  .logo__studio {
    color: #000000;
  }
  @extend %flex-align;
  @import './nav-menu';
  @import './nav';

  @import './address-header';
  @import './nav-btn';
}
