@import '../../components/button-blue';
.footer-folow {
  @media screen and (max-width: 1199px) {
    text-align: center;

    display: block;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 94px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $primary-white-color;
    @media screen and (min-width: 1200px) {
      padding: 0;
    }
  }

  &__input {
    @media screen and (max-width: 767px) {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      width: 358px;
      height: 50px;
    }
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;

    margin-left: auto;
    margin-right: auto;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    &:focus {
      border: 2px solid $accent-color;
      border-radius: 4px;
      outline: none;
    }
  }

  &__button {
    @include button-blue(10px 29px);

    display: inline-flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
      margin-top: 0;
    }

    .icon-send {
      margin-left: 10px;
      fill: $primary-white-color;
    }
  }
}
.folow-box {
  margin-top: 20px;

  @media screen and (max-width: 767px) {
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
