.footer {
  background-color: #2f303a;

  margin-bottom: 0;

  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    padding-bottom: 94px;
  }
  &__container {
    .logo__studio--inverse {
      margin-top: 0;
      margin-bottom: 20px;
      color: $primary-white-color;

      @media screen and (max-width: 1199px) {
        font-size: 24px;
        line-height: 1.17;
      }
    }

    @media screen and (min-width: 780px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      width: 768px;

      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 0;
      align-items: baseline;
      display: flex;
      text-align: left;
    }

    @import './address-footer';
    @import './soc-links-footer';
    @import './folow-footer';
  }
}
