.footer {
  background-color: #2f303a;

  margin-bottom: 0;

  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    padding-bottom: 94px;
  }
  &__container {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 0;
      align-items: baseline;
      display: flex;
      text-align: left;
    }
    @import '../logo';
    @import './address-footer';
    @import './soc-links-footer';
    @import './folow-footer';
  }
}

.logo__studio--inverse {
  margin-top: 0;
  margin-bottom: 20px;
  color: $primary-white-color;
}
