.main-index {
  background-color: $primary-white-color;
  font-family: $font-index;
  letter-spacing: 0.03em;
}

.main-portfolio {
  background-color: $primary-white-color;
  font-family: $font-index;
  letter-spacing: 0.03em;
}
// -----------------------
// @media screen and (min-width: 1200px) {
//
%flex-align {
  display: flex;
  align-items: center;
}

%flex-just-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

// -----------------------

%nav-font {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
// ------------------------

// ------------------------

%section-padding-mob {
  padding-top: 60px;
}

%section-padding-tab {
  padding-top: 60px;
}

%section-padding {
  padding-top: 94px;
}

// -------------------------

%container-padding-mob {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

%container-padding-tab {
  width: 768px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

%container-padding {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

// ----------------------------

%section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;

  color: $title-text-color;

  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// --------------------------

%hero-font {
  font-weight: 900;
  color: $primary-white-color;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.06em;
  max-width: 700px;
}
