// цветовая палитра

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$icons-grey-color: #afb1b8;

// шрифты

body {
  letter-spacing: 0.03em;
}

$font-index: Roboto, sans-serif;
$font-portfolio: Raleway, sans-serif;

$fbr-1: 1px;
$fbr-2: 2px;
// -----------

// Размер для всех блоков по размеру блока, а не контента

html {
  box-sizing: border-box;
}

// наследие border-box

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $primary-white-color;
  font-family: $font-index;
  letter-spacing: 0.03em;
}

// все картинки масштабируем относительно размера

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// все ссылки не подчеркиваются

a {
  text-decoration: none;
}

// убираем маркеры

ul {
  list-style: none;
}

// переход

$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

@mixin transition($property) {
  transition: $property $cubic;
}
